In [123]:
# Setup for worksheet
import pandas as pd
import os
import numpy as np

# Import CSV files from their location and give them a name
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read converted CSV files and store in Pandas dataframe
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merge the two original CSV files into one dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [60]:
school_data_complete["type"].value_counts()

District    26976
Charter     12194
Name: type, dtype: int64

In [61]:
# Calculate the district summary with:
    #total schools
total_schools = len(school_data_complete["school_name"].unique())
  
    #total students
total_students = len(school_data_complete["Student ID"].value_counts())

    #total budget
total_budget = school_data["budget"].sum()
    
    #average read and math scores
district_math_average = student_data["math_score"].mean()

district_reading_average = student_data["reading_score"].mean()   
   
    #overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

combined_math_reading_score = (district_math_average + district_reading_average)/2

    #percentage of students passing math (70+)
passing_math_students = len(student_data.loc[student_data["math_score"] >= 70])
passing_math_percentage = (passing_math_students/total_students)*100

    #percentage of students passing reading (70+)
passing_reading_students = len(student_data.loc[student_data["reading_score"] >= 70])
passing_reading_percentage = (passing_reading_students/total_students)*100


    #give the displayed data cleaner formatting
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                                 "Total Students": [total_students],
                                 "Total Budget": [total_budget],
                                 "District Math Average": [district_math_average],
                                 "District Reading Average": [district_reading_average],
                                 "Overall Passing Rate": [combined_math_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage]})

district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


district_summary

,Total Schools,Total Students,Total Budget,District Math Average,District Reading Average,Overall Passing Rate,% Passing Math,% Passing Reading
0,15,39170,"$24,649,428.00",78.985371,81.87784,80.431606,74.980853,85.805463

In [84]:
#Create an overview table that summarizes key metrics about each school, including


#School Name
#school_name = pd.DataFrame(school_data["school_name"])
#school_name


#School Type
#for school in school_data_complete['school_name'].unique():
    
    #print(list(school_data_complete[school_data_complete["school_name"]==school]['type'])[0])
    #print(school)
#school_data_complete.groupby(["school_name",'type']).count()


#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)
                  
#school_summary = pd.DataFrame({"School Name": [school_name]})
                                 #"School Type": [type],
                                 #"Total Students": [total_students],
                                 #"Total Budget": [total_budget],
                                 #"Per Student Budget": [budget_per_student],   
                                 #"Average Math Score": [math_average],
                                 #"Average Readying Score": [reading_average],
                                 #"Overall Passing Rate": [combined_math_reading_score],
                                 #"% Passing Math": [passing_math_percentage],
                                 #"% Passing Reading": [passing_reading_percentage]})

In [63]:
list_of_schools = school_data_complete.groupby(['school_name', 'type'])
list_of_schools.count()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [64]:
school_size = list_of_schools["size"].unique()
school_size

school_name            type
Bailey High School     District    [4976]
Cabrera High School    Charter     [1858]
Figueroa High School   District    [2949]
Ford High School       District    [2739]
Griffin High School    Charter     [1468]
Hernandez High School  District    [4635]
Holden High School     Charter      [427]
Huang High School      District    [2917]
Johnson High School    District    [4761]
Pena High School       Charter      [962]
Rodriguez High School  District    [3999]
Shelton High School    Charter     [1761]
Thomas High School     Charter     [1635]
Wilson High School     Charter     [2283]
Wright High School     Charter     [1800]
Name: size, dtype: object

In [65]:
school_budget = list_of_schools["budget"].unique()
school_budget

school_name            type
Bailey High School     District    [3124928]
Cabrera High School    Charter     [1081356]
Figueroa High School   District    [1884411]
Ford High School       District    [1763916]
Griffin High School    Charter      [917500]
Hernandez High School  District    [3022020]
Holden High School     Charter      [248087]
Huang High School      District    [1910635]
Johnson High School    District    [3094650]
Pena High School       Charter      [585858]
Rodriguez High School  District    [2547363]
Shelton High School    Charter     [1056600]
Thomas High School     Charter     [1043130]
Wilson High School     Charter     [1319574]
Wright High School     Charter     [1049400]
Name: budget, dtype: object

In [66]:
# Calculate how much of the budget is spent per student
budget_per_student = (school_budget/school_size)
budget_per_student

school_name            type
Bailey High School     District    [628.0]
Cabrera High School    Charter     [582.0]
Figueroa High School   District    [639.0]
Ford High School       District    [644.0]
Griffin High School    Charter     [625.0]
Hernandez High School  District    [652.0]
Holden High School     Charter     [581.0]
Huang High School      District    [655.0]
Johnson High School    District    [650.0]
Pena High School       Charter     [609.0]
Rodriguez High School  District    [637.0]
Shelton High School    Charter     [600.0]
Thomas High School     Charter     [638.0]
Wilson High School     Charter     [578.0]
Wright High School     Charter     [583.0]
dtype: object

In [80]:
# Calculate the math average per school
# Add all math scores and divide by the total number of students per school
math_score_by_school = list_of_schools["math_score"].sum()
#math_score_by_school


math_average_by_school = (math_score_by_school/school_size)
math_average_by_school

school_name            type
Bailey High School     District    [77.04843247588424]
Cabrera High School    Charter     [83.06189451022605]
Figueroa High School   District    [76.71176670057646]
Ford High School       District    [77.10259218692954]
Griffin High School    Charter     [83.35149863760218]
Hernandez High School  District    [77.28975188781014]
Holden High School     Charter     [83.80327868852459]
Huang High School      District    [76.62941378128214]
Johnson High School    District    [77.07246376811594]
Pena High School       Charter     [83.83991683991684]
Rodriguez High School  District    [76.84271067766942]
Shelton High School    Charter      [83.3594548551959]
Thomas High School     Charter      [83.4183486238532]
Wilson High School     Charter      [83.2742006132282]
Wright High School     Charter     [83.68222222222222]
dtype: object

In [82]:
# Calculate the reading average per school
# Add all reading scores and divide by the total number of students per school
reading_score_by_school = list_of_schools["reading_score"].sum()
#reading_score_by_school


reading_average_by_school = (reading_score_by_school/school_size)
reading_average_by_school

school_name            type
Bailey High School     District    [81.03396302250803]
Cabrera High School    Charter     [83.97578040904197]
Figueroa High School   District    [81.15801966768396]
Ford High School       District    [80.74625775830594]
Griffin High School    Charter       [83.816757493188]
Hernandez High School  District     [80.9344120819849]
Holden High School     Charter     [83.81498829039812]
Huang High School      District    [81.18272197463148]
Johnson High School    District    [80.96639361478681]
Pena High School       Charter     [84.04469854469855]
Rodriguez High School  District    [80.74468617154288]
Shelton High School    Charter     [83.72572402044293]
Thomas High School     Charter     [83.84892966360856]
Wilson High School     Charter     [83.98948751642575]
Wright High School     Charter                [83.955]
dtype: object

In [83]:
 # Overall Passing Rate - combined_average of math and reading score
math_reading_score = (math_average_by_school+reading_average_by_school)/2
math_reading_score

school_name            type
Bailey High School     District    [79.04119774919613]
Cabrera High School    Charter     [83.51883745963401]
Figueroa High School   District     [78.9348931841302]
Ford High School       District    [78.92442497261774]
Griffin High School    Charter     [83.58412806539509]
Hernandez High School  District    [79.11208198489751]
Holden High School     Charter     [83.80913348946135]
Huang High School      District    [78.90606787795681]
Johnson High School    District    [79.01942869145137]
Pena High School       Charter      [83.9423076923077]
Rodriguez High School  District    [78.79369842460615]
Shelton High School    Charter     [83.54258943781942]
Thomas High School     Charter     [83.63363914373087]
Wilson High School     Charter     [83.63184406482698]
Wright High School     Charter     [83.81861111111111]
dtype: object

In [143]:
# Calculate percentage of students per school passing math

#passing_math_percentage = list_of_schools("math_score") >= 70

#passing_math_percentage

passing_math_percentage = school_data_complete.loc[school_data_complete["math_score"] > 70]
passing_math_percentage

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [142]:
school_summary_table = pd.DataFrame({"Total Students": school_size,
                                     "Total School Budget": school_budget,
                                     "Per Student Budget": budget_per_student,
                                     "Average Math Score": math_average_by_school,
                                     "Average Reading Score": reading_average_by_school,
                                     #"% Passing Math",
                                     #"% Passing Reading": 
                                     "Overall Passing Rate": math_reading_score})

school_summary_table

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Overall Passing Rate
school_name,type,,,,,,
Bailey High School,District,[4976],[3124928],[628.0],[77.04843247588424],[81.03396302250803],[79.04119774919613]
Cabrera High School,Charter,[1858],[1081356],[582.0],[83.06189451022605],[83.97578040904197],[83.51883745963401]
Figueroa High School,District,[2949],[1884411],[639.0],[76.71176670057646],[81.15801966768396],[78.9348931841302]
Ford High School,District,[2739],[1763916],[644.0],[77.10259218692954],[80.74625775830594],[78.92442497261774]
Griffin High School,Charter,[1468],[917500],[625.0],[83.35149863760218],[83.816757493188],[83.58412806539509]
Hernandez High School,District,[4635],[3022020],[652.0],[77.28975188781014],[80.9344120819849],[79.11208198489751]
Holden High School,Charter,[427],[248087],[581.0],[83.80327868852459],[83.81498829039812],[83.80913348946135]
Huang High School,District,[2917],[1910635],[655.0],[76.62941378128214],[81.18272197463148],[78.90606787795681]
Johnson High School,District,[4761],[3094650],[650.0],[77.07246376811594],[80.96639361478681],[79.01942869145137]
Pena High School,Charter,[962],[585858],[609.0],[83.83991683991684],[84.04469854469855],[83.9423076923077]
Rodriguez High School,District,[3999],[2547363],[637.0],[76.84271067766942],[80.74468617154288],[78.79369842460615]
Shelton High School,Charter,[1761],[1056600],[600.0],[83.3594548551959],[83.72572402044293],[83.54258943781942]
Thomas High School,Charter,[1635],[1043130],[638.0],[83.4183486238532],[83.84892966360856],[83.63363914373087]
Wilson High School,Charter,[2283],[1319574],[578.0],[83.2742006132282],[83.98948751642575],[83.63184406482698]
Wright High School,Charter,[1800],[1049400],[583.0],[83.68222222222222],[83.955],[83.81861111111111]

In [126]:
# Create a table highlighting the Top 5 performing schools

top_five_schools = school_summary_table.sort_values("Overall Passing Rate", ascending=False)

top_five_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Overall Passing Rate
school_name,type,,,,,,
Pena High School,Charter,[962],[585858],[609.0],[83.83991683991684],[84.04469854469855],[83.9423076923077]
Wright High School,Charter,[1800],[1049400],[583.0],[83.68222222222222],[83.955],[83.81861111111111]
Holden High School,Charter,[427],[248087],[581.0],[83.80327868852459],[83.81498829039812],[83.80913348946135]
Thomas High School,Charter,[1635],[1043130],[638.0],[83.4183486238532],[83.84892966360856],[83.63363914373087]
Wilson High School,Charter,[2283],[1319574],[578.0],[83.2742006132282],[83.98948751642575],[83.63184406482698]

In [127]:
# Create a table highlighting the bottom 5 performing schools

bottom_five_schools = school_summary_table.sort_values("Overall Passing Rate")

bottom_five_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Overall Passing Rate
school_name,type,,,,,,
Rodriguez High School,District,[3999],[2547363],[637.0],[76.84271067766942],[80.74468617154288],[78.79369842460615]
Huang High School,District,[2917],[1910635],[655.0],[76.62941378128214],[81.18272197463148],[78.90606787795681]
Ford High School,District,[2739],[1763916],[644.0],[77.10259218692954],[80.74625775830594],[78.92442497261774]
Figueroa High School,District,[2949],[1884411],[639.0],[76.71176670057646],[81.15801966768396],[78.9348931841302]
Johnson High School,District,[4761],[3094650],[650.0],[77.07246376811594],[80.96639361478681],[79.01942869145137]